<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xsi:schemaLocation="  
	http://www.springframework.org/schema/beans        
	http://www.springframework.org/schema/beans/spring-beans.xsd  
	http://www.springframework.org/schema/context                
	http://www.springframework.org/schema/context/spring-context.xsd
	 http://www.springframework.org/schema/aop
	 http://www.springframework.org/schema/aop/spring-aop.xsd
	 http://www.springframework.org/schema/tx
	 http://www.springframework.org/schema/tx/spring-tx.xsd
	 http://mybatis.org/schema/mybatis-spring
	 http://mybatis.org/schema/mybatis-spring.xsd
	 http://www.springframework.org/schema/mvc 
	 http://www.springframework.org/schema/mvc/spring-mvc.xsd">
 <!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	<context:component-scan base-package="com.contentsale.controller" />
	<!-- 扩充了注解驱动，可以将请求参数绑定到控制器参数 -->
	<mvc:annotation-driven />	
	<!-- freemarker配置 -->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/template/" />
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">0</prop><!--刷新模板的周期，单位为秒-->
                <prop key="classic_compatible">true</prop><!-- 兼容传统模式，避免报空指针 -->
                <prop key="defaultEncoding">UTF-8</prop><!--模板的编码格式 -->
            </props>
        </property>
    </bean>
     <!-- freemarker视图解析器 -->
    <bean
            class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="viewResolvers">
            <list>
                <bean id="viewResolver"
                      class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
                    <property name="cache" value="true" />
                    <property name="prefix" value="" />
                    <property name="suffix" value=".ftl" />
                    <property name="contentType" value="text/html; charset=UTF-8" />
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <bean
                        class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
            </list>
        </property>
    </bean>
    
    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 指定所上传文件的总大小,单位字节。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="10240000" />
    </bean>
	
	<!--静态资源映射 -->
	<mvc:resources location="WEB-INF/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="WEB-INF/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="WEB-INF/template/include/" mapping="/include/**"></mvc:resources>
	<mvc:resources location="/uploadImgs/" mapping="/uploadImgs/**"></mvc:resources> <!-- 上传图片存放位置 -->
	
</beans>
